{% include  'head.html' %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Teaching</h1>
      <p class="lead my-3">By attending the exercise, you can not only gain experience and skills in finding a missing person - everyone will be able to experience all the event search engines. The training will be as close as possible to real search conditions. Let's consolidate our skills on practical assignments. To participate in the search, follow the link.</p>
      <p class="lead mb-0"><a href = "{% url 'education' %}" method="POST" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Missing</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href = "{% url 'missingPeople' %}" method="POST"  class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Missing</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href = "{% url 'missingPeople' %}" method="POST"  class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        About us
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">Search and rescue squad "Angel"</h2>

        <p>The first voluntary movement in the Republic of Belarus to assist in the search for lost people in the forest and missing, which was created in June 2012.</p>
        <hr>
        <h2>Our mission:</h2>
        <p>Providing assistance in the search for people missing and lost in the forest. PSO "Angel" - a community of caring people with common views: not indifferent to someone else's misfortune; unselfishness; caring for and promoting responsible behavior of children, adults and persons most susceptible to disappearance; observance of human rights.</p>
        <h3>Our goal:</h3>
        <p>You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out.</p>
        <ul>
          <li>assistance in finding people lost in the forest,</li>
          <li>assistance in finding missing people,</li>
          <li>posting information about the missing in Internet resources,</li>
          <li>prevention of missing children,</li>
          <li>prevention of unknown disappearance of adults,</li>
          <li>prevention of loss prevention in the forest.</li>
        </ul>
        <p>PSO "Angel" provides assistance on a gratuitous basis, but we will be happy to help pay for fuel. We are not a commercial organization.</p>
      </article><!-- /.blog-post -->

      <article class="blog-post">
        <h2 class="blog-post-title">Missing people</h2>

        <p>We always publish <a href = "{% url 'missingPeople' %}" >list of misssing people</a>. If you see this person, please contact with us.</p>
        </blockquote>
        <p>How to solve the problem. As many volunteers as possible should be trained and recruited. The more people are involved in the search, the greater the chances of finding a missing person in the first hours, and special equipment makes the search easier and faster.</p>
      </article><!-- /.blog-post -->

      <article class="blog-post">
        <h2 class="blog-post-title">Results of work</h2>

        <p></p>
        <ul>
          <li>
            2017: The project helped to find 35 people. About 150 people took part in the republican exercises.
          </li>
          <li>2018: The project helped to find 49 people. About 150 people took part in the republican exercises.</li>
          <li>2019: The project helped to find 88 people. 335 people took part in the republican exercises.</li>
          <li>2020: The project helped to find 84 people. 145 people took part in the republican exercises.</li>
        </ul>
        We always publish <a href="{% url 'foundPeople' %}" method="POST">list of found people</a>. If you need help, please contact with us.</p>
      </article><!-- /.blog-post -->

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Participate</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About search event</h4>
        <p class="mb-0">
          Every day, volunteers go in search of the missing people. Bottom Lists information about the next collection of searches.</p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Future events</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#"></a></li>
          <li><a href="{% url 'event' %}" method="POST">In one day</a></li>
          <li><a href="{% url 'event' %}" method="POST">Today</a></li>
          <li><a href="{% url 'event' %}" method="POST">Tomorrow</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Past events</h4>
        <ol class="list-unstyled">
          <li><a href="{% url 'event' %}" method="POST">March </li>
          <li><a href="{% url 'event' %}" method="POST">February </a></li>
          <li><a href="{% url 'event' %}" method="POST">January </a></li>
          <li><a href="{% url 'event' %}" method="POST">December </a></li>
          <li><a href="{% url 'event' %}" method="POST">November </a></li>
          <li><a href="{% url 'event' %}" method="POST">October </a></li>
          <li><a href="{% url 'event' %}" method="POST">September </a></li>
          <li><a href="{% url 'event' %}" method="POST">August </a></li>
          <li><a href="{% url 'event' %}" method="POST">July </a></li>
          <li><a href="{% url 'event' %}" method="POST">June </a></li>
          <li><a href="{% url 'event' %}" method="POST">May </a></li>
          <li><a href="{% url 'event' %}" method="POST">April </a></li>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">

    <a href="#">Back to top</a>
  </p>
</footer>
  </body>
</html>
